<!DOCTYPE html>
<html ng-app="pastorino">
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="static/styles/main.css"/>
    </head>
    <body>

        <div ui-view="application"></div>

        <script src="static/libs/angular/angular.min.js"></script>
        <script src="static/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="static/libs/angular-foundation/mm-foundation.min.js"></script>
        <script src="static/libs/angular-foundation/mm-foundation-tpls.min.js"></script>
        <script src="static/config/config.js"></script>
        <script src="static/models/paste.factory.js"></script>
        <script src="static/modules/_application/application.route.js"></script>
        <script src="static/modules/pastes/paste.route.js"></script>
        <script src="static/modules/pastes/index/paste.controller.js"></script>
        <script src="static/modules/pastes/view/view.controller.js"></script>
        <script src="static/modules/shared/topbar/topbar.controller.js"></script>
    </body>
</html>