.fluid-row {
    @include grid-row();
    max-width: 100%;
}

.collapsed {
    padding: 0 !important;
}

.l-collapsed {
    padding-left: 0 !important;
}

.r-collapsed {
    padding-right: 0 !important;
}
