.fluid-row {
    @include grid-row();
    max-width: 100%;
}

.collapsed {
    padding: 0 !important;
}

.l-collapsed {
    padding-left: 0 !important;
}

.r-collapsed {
    padding-right: 0 !important;
}

.setview {
      input {
          position: absolute;
          top: 45px;
          right: 0;
          opacity: 0;
          width: 300px;
          background: #fff;
          transform: translateY(-100%);
          pointer-events: none;
          transition: all .3s ease-in-out;
      }
      &.open {
            input {
                z-index: 10;
                transform: translateY(0);
                opacity: 1;
                pointer-events: all;
            }
      }
}

.headorino {
    height: 20%;
}
